/* Body and background */

body {
    background-color: #;
    font-family: 'Open Sans', sans-serif;
    display:flex;
    flex-direction:column; 
    margin: 0;
}

/* Container */

.section-container{
    color: black;
    font-size: 16px;
    background-color: #ffffff;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    padding-top: 15px;   
    display:flex;
    flex-direction:column; 
}

.section-bar{
    background-color: #ffffff;;
    padding-top: 10px;
}

.list-centered{
    display: flex;
    flex-direction: column   ;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 780px){
    .section-container{
        color: black;
        font-size: 16px;
        background-color: #ffffff;
        padding-left: 4%;
        padding-right: 4%;
    }
}

/* Navigation */
.nav-bar{
    position: fixed;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    background-color:#9cc7ff;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
    overflow: hidden;
}

.nav-menu{
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    gap: 2%;
    background-color:#9cc7ff;
    padding-right: 5%;
    width: 580px;
}

.nav-menu-collapse{
    width: 0;
    display: none;
}

.nav-openbtn{
    margin-bottom: -5px;
    margin-bottom: 10px;
    background-color: #9cc7ff;
    border: black;
    font-size: 22px;
    display: none;
}

.nav-openbtn:hover{
    font-weight: bold;
}

.nav-closebtn{
    margin-bottom: -5px;
    margin-bottom: 10px;
    background-color: #9cc7ff;
    border: black;
    font-size: 22px;
    display: none;
}

.nav-closebtn:hover{
    font-weight: bold;
}

.nav-button{
    font-size: 14px;
    color: #000;
    text-decoration: none;
    background-color: #9cc7ff;
    padding-left: 2px;
    padding-right: 2px;
    
}

@media screen and (max-width: 590px){
            
    .nav-bar{
        height: 30px;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content:flex-start;
        background-color:#9cc7ff;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
    }

    .nav-menu{
        display: none;
    }

    .nav-menu-collapse{
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center ;    
        flex-direction: column;
        gap: 3%;
        background-color:#9cc7ff;
        width: 100%;
    }

    .nav-button{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        background-color: #9cc7ff;
        padding-left: 2px;
        padding-right: 2px;
        text-align: center;
    }

    .nav-openbtn{
        display: flex;
    }
    
    .nav-closebtn{
        display: none;
    }
}

.nav-button:hover{
    font-weight: bold;
    background-color: #9cc7ff   ;
}

/* Hyperrefs */

.supervisor-link{
    color: black;
    text-decoration: none;
}

.supervisor-link:hover{
    font-weight: bold;
}

.text-link{
    text-decoration:none;
    font-style: italic;
    color: black;
 }

.text-link:hover{
    color: rgb(71, 71, 71);
 }

.pdf-button{
    font-size: 14px;
    text-decoration: none;
    color: black;   
    border-radius: 8px;
    border: 1.5px solid;
    border-color: #000000 ; 
    padding-left: 5px;      
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 5px;
 }

.pdf-button:hover{
    border-color: black;
    background-color: #9cc7ff;
 }

.social-button{
    font-size: 16px;
    text-decoration: none;
    color: black;   
    background-color: #ffffff  ;
    border-radius: 8px;
    border: 2px solid;
    border-color: #000000 ; 
    padding-left: 5px;      
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 5px;
 }

.social-button:hover{
    border-color: black;
    background-color: #cbefff;
 }


/* Text formatting */

.text-block{
    text-align: justify;
    padding-left: 15px;
    padding-bottom: 10px;
}

@media screen and (max-width: 480px){
    
.text-block{
    padding-left: 0px;
}
}