/* Body and background */

body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    display:flex;
    flex-direction:column; 
    margin: 0;
}

/* Container */

.section-container{
    color: black;
    font-size: 14px;
    background-color: #cbefff;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    padding-top: 15px;   
    display:flex;
    flex-direction:column; 
    margin-left: 3%;
    margin-right: 3%;
}

.section-bar{
    background-color: #ffffff;;
    padding-top: 10px;
}

/* Navigation */
.nav-bar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color:#9cc7ff;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
}

.nav-block{
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    gap: 3%;
    background-color:#9cc7ff;
    padding-right: 5%;
    overflow: hidden;
    width: 480px;
}

.nav-button{
    font-size: 14px;
    color: #000;
    text-decoration: none;
    background-color: #9cc7ff;
    padding-left: 2px;
    padding-right: 2px;
    
}

@media screen and (max-width: 480px){
            
    .nav-bar{
        position: fixed;
        width: 100%;
        display: flex;
        justify-content:center;
        background-color:#9cc7ff;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
    }

    .nav-block{
        display: flex;
        justify-content: center;
        align-items: center;    
        gap: 3%;
        background-color:#9cc7ff;
        overflow: hidden;
    }

    .nav-button{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        background-color: #9cc7ff;
        padding-left: 2px;
        padding-right: 2px;
        text-align: center;
    }
}

.nav-button:hover{
    font-weight: bold;
    background-color: #9cc7ff;
}

/* Hyperrefs */

.social-link{
    font-size: 12px;
    color: black;
    text-decoration: none;
 }

 .social-link:hover{
     font-weight: bold;
 }

 .text-link{
    text-decoration:none;
    font-style: italic;
    color: black;
 }

 .text-link:hover{
    color: rgb(71, 71, 71);
 }

 .pdf-button{
    font-size: 14px;
    text-decoration: none;
    color: black;   
    border-radius: 8px;
    border: 1.5px solid;
    border-color: #000000 ; 
    padding-left: 5px;      
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 5px;
 }

 .pdf-button:hover{
    border-color: black;
    background-color: #9cc7ff;
 }

 .social-button{
    font-size: 14px;
    text-decoration: none;
    color: black;   
    background-color: #9cc7ff   ;
    border-radius: 8px;
    border: 2px solid;
    border-color: #000000 ; 
    padding-left: 5px;      
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 5px;
 }

 .social-button:hover{
    border-color: black;
    background-color: #cbefff;
 }


/* Text formatting */

.text-block{
    text-align: justify;
    padding-left: 15px;
    padding-bottom: 10px;
}