.abstract-block{
    text-align: justify;
    padding-left: 15px;
    padding-bottom  : 10px ;
    padding-top: 5px ;
    color: rgb(27, 27, 27);
}

.project-title{
    font-size: 18px ;
    font-weight: bold;
}

.project-subtitle{
    font-weight: 200;
}

.project-bottom-line{
    display: flex; 
    justify-content: space-between
}

.project-container{
    padding-bottom: 30px;
}

@media screen and (max-width: 780px){
    .abstract-block{
        text-align: justify;
        padding-left: 0px;
        padding-bottom  : 10px ;
        padding-top: 5px ;
        color: rgb(27, 27, 27);
    }

}
