.research-container-left{
    display: flex;
    justify-content: space-between
}
.research-container-right{
    display: flex;
    justify-content: space-between
}

.research-paragraph-left{
    text-align: justify;
    padding-left: 15px;
    padding-bottom: 10px;
    width: 80%
}
.research-paragraph-right{
    text-align: justify;
    padding-left: 15px;
    padding-bottom: 10px;
    width: 70%;
}

.research-pic-left{
    object-fit: contain;
    object-position: center center  ;
    padding-left: 15px;
}

.research-pic-right{
    object-fit: contain;
    object-position: center center  ;
    padding-left: 15px;
}

.research-pic-bottom{
    object-fit: contain;
    object-position: center center  ;
    width: 70%;
    margin-top: 20px;
}   

@media screen and (max-width: 780px){
            
    .research-container-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .research-container-right{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;    
        align-items: center;
    }
    
    .research-paragraph-left{
        text-align: justify;
        padding-left: 0px;
        padding-bottom: 10px;
        width: 100%
    }
    .research-paragraph-right{
        text-align: justify;
        padding-left: 0px;
        padding-bottom: 10px;
        width: 100%;
    }
    
    .research-pic-left{
        object-fit: contain;
        object-position: center center  ;
        padding-left: 15px;
        width: 60%;
    }
    
    .research-pic-right{
        object-fit: contain;
        object-position: center center  ;
        padding-left: 15px;
        padding-bottom: 10px;
    }   

    .research-pic-bottom{
        object-fit: contain;
        object-position: center center  ;
        width: 100%;
    }   
}